<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Khmer:wght@400&display=swap" />
</head>
<body>
    
    <div class="desktop-1">
        <div class="desktop-1-child"></div>
        <div class="slugfit">SlugFit</div>
        <div class="take-control-of">Take control of your diet. Train hard. Become your best self. </div>
        <img class="mascotorig-1-icon" alt="" src="{{ url_for('static', filename='images/20190414224031_477_mascotOrig 1.png') }}">
    </div>
    
</body>
</html>
